.video-blog {
  /* background-color: transparent;
    box-shadow: 0px 0px 30px 3px #ecf0f3; */
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    height: auto;
    width: 100%;
}

h1 {
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 0;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}

.carousel-wrapper {
  height: 500px;
  position: relative;
  width: 1100px;
  display: block;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 30px;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 1s ease-in-out;
  margin: 0;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}

.arrow-next {
  right: -40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-image: url("/images/Smoking Kills Main-wider.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.item-2 {
  background-image: url('../images/Smoke\ 2.png');
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.item-3 {
  background-image: url('../images/Smoke\ 3.png');
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;

}

#item-2:target~.item-2, #item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}