.video-blog {
  /* background-color: transparent;
    box-shadow: 0px 0px 30px 3px #ecf0f3; */
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    height: auto;
    width: 100%;
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 9, 9, 0.479);
  padding-left: 80px;
  position: relative;
  margin-bottom: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}

.second-content {
  width: 933px;
  padding-right: 80px;
}

/* .img {
  width: 520px;
} */

.image{
  width: 520px;
}

.second-content-heading-first {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 5px;
  margin-bottom: 30px;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
}

/* .second-content-heading-second {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
} */

.second-content-headings {
  display: flex;
  padding-bottom: 20px;
}

.second-content-text-first, second-content-text-second {
  font-style: italic;
}

.second-content-text-second {
  margin-top: 23px;
}

/* .second-content-heading-first::before {
  padding-right: 20px;
  content: "";
  position: absolute;
  background-color: black;
  width: 60px;
  height: 1px;
  margin-top: 34px;
  right: 870px;
} */

.link {
  color: red;
  text-align: end;
}

