@import "typography.css";
@import "details.css";
@import "login-register.css";
@import "create-edit.css";
@import "homePage.css";
@import "vapeCatalog.css";
@import "navigation.css";
@import "header.css";
@import "footer.css";
@import "blog.css";
@import "aboutUs.css";
@import "contacts.css";
@import "myVapes.css";
@import "notFound.css";
@import "carousel.css";
@import "notification.css";
@import "modal.css";

@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: url('https://res.cloudinary.com/raggae/image/upload/v1639958295/VapeManiacs/Smoke_1_elvfpn.png');
    background-repeat: no-repeat;
    background-size: cover;
}


@media all and (max-width: 1200px) {
    .carousel-wrapper {
        width: 50vw;
        height: 30vh;
        border: none;
    }

    div.carousel-item {
        background-size: contain;
    }

    .video iframe {
        width: 85vw;
    }
}

@media all and (min-width: 1008px) {
    .header {
        flex-direction: row;
    }

    .header-nav {
        margin: 0 auto;
    }

    .header-logo {
        margin: 0 auto;
    }
}

@media all and (max-width: 800px) {
    .header-nav {
        margin: 0 auto;
    }

    .header-logo {
        margin: 0 auto;
    }

    .header {
        flex-direction: column;
    }

    .header-logo-img {
        width: 100%;
    }

    .carousel-wrapper {
        width: 50vw;
        height: 17vh;
        border: none;
    }
}

@media all and (min-width: 500px) and (max-width: 700px) {
    .carousel-wrapper {
        width: 50vw;
        height: 14vh;
        border: none;
    }

    .header-nav {
        margin: 0 auto;
    }

    .header-logo {
        margin: 0 auto;
    }

    .header {
        flex-direction: column;
    }

    .header-nav {
        margin: auto;
        text-align: center;
    }

    .header-nav-ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header-logo-img {
        width: auto;
    }
}

@media all and (min-width: 400px) and (max-width: 500px) {
    .carousel-wrapper {
        width: 50vw;
        height: 12vh;
        border: none;
    }

    .header-nav {
        margin: auto;
        text-align: center;
    }

    .header-logo {
        margin: 0 auto;
        text-align: center;
    }

    .header {
        flex-direction: column;
    }

    .header-nav-ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header-logo-img {
        width: 85%;
    }
}

@media all and (max-width: 400px) {
    .carousel-wrapper {
        width: 50vw;
        height: 10vh;
        border: none;
    }

    .header-nav {
        margin: auto;
        text-align: center;
    }

    .header-logo {
        margin: 0 auto;
        text-align: center;
    }

    .header {
        flex-direction: column;
    }

    .header-nav-ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header-logo-img {
        width: 85%;
    }
}
